*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
body{
  background-color: black;
  position: relative; /* Ensure body creates a stacking context */
}

.label{
  font-family: "Helvetica Now Display";
}

#canvas {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0; /* Ensure canvas is below the image */
}

img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  mix-blend-mode: lighten; /* Apply blending mode */
  z-index: 1; /* Ensure image is above the canvas */
}